:root {
    --primary-color: blue;
    --secondary-color: black;
    --accent-color1: darkgrey;
    --accent-color2: lightgrey;
    --border-width: 2px;
    --border-color: black;
    --border-style: solid;
    --text-color: white;
    --heading-font: Helvetica, sans-serif, "Arial";
    --body-font: "Times New Roman", "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.6;
    background-color: var(--accent-color1);
    color: var(--primary-color);
}

.hero article img {
    float: right;
    width: 125px;
}

article {
    position: absolute;
    bottom: 210px;
    width: 96%;
    padding: 4px;
    text-align: center;
    border: var(--border-width) var(--border-style) var(--border-color);
    opacity: 0.7;
    background-color: aliceblue;
    color: black;
    font-size: larger;
}

h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--text-color);
}