:root {
    --primary-color: blue;
    --secondary-color: black;
    --accent-color1: darkgrey;
    --accent-color2: #000080;
    --heading-font: Helvetica, sans-serif, "Arial";
    --body-font: "Times New Roman", "Arial", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--secondary-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 10px;
    padding: 10px;
    /* gap: 2rem; */
}

nav li {
    text-align: center;
}

nav a {
    text-decoration: none;
    font-weight: 700;
    color: var(--secondary-color)
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent-color2);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin-bottom: 2rem;
}

.hero img {
    margin-top: 0.25rem;
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.6;
    background-color: var(--accent-color1);
    color: var(--accent-color2);
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article {
    position: absolute;
    /* bottom: 210px; */
    bottom: 0.25rem;
    width: 96%;
    padding: 4px;
    text-align: center;
    border: 1px solid black;
    opacity: 0.7;
    background-color: aliceblue;
    color: black;
    font-size: larger;
}

.history {
    padding: 1.5rem;
    background-color: #f5f5f5;
    margin-bottom: 2rem;
}

h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
}