:root {
    --background-color: darkblue;
    --border-width: 1px;
    --border-color: black;
    --border-style: solid;
    --text-color: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
}

/* /* main {
    grid-column: 2/3;
    margin: center} */

aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: center;
}

nav {
    background-color: var(--background-color);
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    color: var(--text-color);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
    margin: 0 auto;
    padding: 0 10px;
}

h1 {
    background-color: white;
    color: var(--background-color);
    padding: 16px;
    text-align: center;
    border-bottom: 1px solid black;
    ;

}

main img {
    width: 150px;
    height: auto;
    border: var(--border-width) var(--border-style) var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    /* float: right; */
}

p {
    padding: 0;
}

.hero img {
    width: 100%;
    height: auto
}

.hero article img {
    float: right
}

/* .hero article {
    position: relative;
    bottom: 2rem
} */

aside {
    width: 20rem;
    /* commenting out the lines below due to duplication from the .box, but want to keep them for learning reference */
    /* margin: 1rem;
    border: var(--border-width) var(--border-style) var(--border-color) / 0.2;
    padding: 1rem; */
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

.clean h2 {
    margin-bottom: 1rem;
}

.clean .column-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-items: start;
    width: 100%;
    max-width: 840px;
    margin: 0 auto;
}

.clean .column-container img {
    width: 100%;
    height: auto;
    display: block;
    /* float: none !important; */
}

.clean .column-container .column img {
    width: 100%;
    height: auto;
}

aside h2 {
    position: absolute;
    color: white;
    top: 31px;
    left: 100px
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border-width) var(--border-style) var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border-width) var(--border-style) var(--background-color) / 10%;
    padding: 1rem;
    background-color: lightgrey;
    color: black;
}

.indent {
    padding-left: 2rem;
}