:root {
    --background-color: darkblue;
    --border-width: 1px;
    --border-color: black;
    --border-style: solid;
    --text-color: white;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
    padding: 0 0 0 10px
}

h1 {
    background-color: white;
    color: var(--background-color);
    padding: 16px;
    text-align: center;

}

main img {
    width: 150px;
    height: auto;
    border: var(--border-width) var(--border-style) var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    /* commenting out the lines below due to duplication from the .box, but want to keep them for learning reference */
    /* margin: 1rem;
    border: var(--border-width) var(--border-style) var(--border-color) / 0.2;
    padding: 1rem; */
    background-color: #eee;
    color: #333;
    text-align: center;
    position: relative;
}

aside h2 {
    position: absolute;
    color: white;
    top: 31px;
    left: 100px
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border-width) var(--border-style) var(--border-color);
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: var(--border-width) var(--border-style) var(--background-color) / 10%;
    padding: 1rem;
    background-color: lightgrey;
    color: black;
}

.indent {
    padding-left: 2rem;
}