:root {
    --background-color: darkblue;
    --border-width: 1px;
    --border-color: black;
    --border-style: solid;
    --text-color: white;

}

nav {
    background-color: var(--background-color);
    padding: 10px;
}

nav a {
    color: var(--text-color);
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 16px;
    text-align: center;

}

main img {
    width: 150px;
    height: auto;
    border: var(--border-width) var(--border-style) var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-width) var(--border-style) var(--border-color) / 0.2;
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border-width) var(--border-style) var(--border-color);
    text-align: center;
}